#content {
  text-align: center;
  
}


form{
  margin: 3rem;
}

content{
	margin: 3em;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
	  background-color:disabled;
}


body{ 
  padding: 1rem;
	background-color: lightgray;
}

#login{
  padding: 0.2em;
  float: right;
}

h2{
 margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
	  background-color:disabled; 
}

form label {
  padding-left: 0.2em;
  padding-top: 0.1em;
}

