#content {
  text-align: center; 
}


form{
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
 
}

#content{
  color: white;
}

.center {
    margin: auto;
    width: 50%;
    border: 2px solid grey;
    padding: 10px;
}


body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #333;
  overflow: hidden;
}

#login{
  padding-top: 0.1em;
  float: right;
}

h2{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 1rem;
    color: white;
    margin-bottom:0.5rem; 
}


#bodyTag{
  margin-top: 3rem;
}

.form-control{
  margin-bottom: 1rem;
}

#create_button {
  margin-top: 0;
}

#login_form{
  margin-bottom: 0;
}

