@charset "UTF-8";
/* CSS Document */

body {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #333;
	overflow: hidden;
}

#fullpage {
	display: flex;
	flex-flow: column;
	height: inherit;
	width: 100%;
	padding: 0;
}

#fullpage #mainbar {
	flex: 0 1 auto;
}

#fullpage #contentarea {
	flex: 1 1 auto;
}

#mainbar {
	width: 100%;
}

#contentarea {
	display: flex;
	flex-flow: row;
	height: inherit;
	width: 100%;
	overflow: hidden;
	background-color: #464646;
}

#groupbar {
	overflow-y: scroll;
	top: 56px; /* Gotta change to make this not static? */
	bottom: 0;
	width: 15%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-right-color: #2A2A2A;
	border-right-style: solid;
	background-color: #323232;
	flex: 0 1 auto;
}

#group-content {
	height: inherit;
	flex: 1 1 auto;
	display: flex;
	flex-flow: row wrap;
	overflow-y: scroll;

}

#image-info {
  height: inherit;
	flex: 0 1 auto;
	background-color: #323232;
	border-left-color: #2A2A2A;
	border-left-style: solid;
}

#btn_add {
	position: fixed;
	bottom: 5px;
	right: 5px;
}

#add_window {
	position: fixed;
	height: 500px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -250px;
	border-color: yellow;
	border-style: solid;
	border-radius: 25px;
	background-color: #323232;
	text-align: center;
	align-content: center;
}

#add_window_btns {
}

.expand {
	width: 20%;
}

.minimize {
	width: 0;
}

.post-container {
	height: 15rem;
	width: 13rem;
	margin: 1rem;
	flex: 0 1 auto;
	background-color: #333;
}

.post-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	width: 10rem;
	height: 10rem;
}

.post-container p {
  text-align: center;
	color: yellow;
}

#add_window h4 {
	text-align: center;
	color: white;
}

#add_window p {
	color: white;
}

#add_window img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#add_window form {
	align-content: center;
}
