@charset "UTF-8";
/* CSS Document */

body {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #333;
	overflow: hidden;
}

#fullpage {
	display: flex;
	flex-flow: column;
	height: inherit;
	width: 100%;
	padding: 0;
}

#fullpage #mainbar {
	flex: 0 1 auto;
}

#fullpage #contentarea {
	flex: 1 1 auto;
}

#mainbar {
	width: 100%;
}

#contentarea {
	display: flex;
	flex-flow: row;
	height: inherit;
	width: 100%;
	overflow: hidden;
	background-color: #464646;
}

#groupbar {
	overflow-y: scroll;
	top: 56px; /* Gotta change to make this not static? */
	bottom: 0;
	width: 15%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-right-color: #2A2A2A;
	border-right-style: solid;
	background-color: #323232;
	flex: 0 1 auto;
}

#group-content {
	height: inherit;
	flex: 1 1 auto;
}

#image-info {
  height: inherit;
	flex: 0 1 auto;
	width: 15%;
	background-color: #323232;
	border-left-color: #2A2A2A;
	border-left-style: solid;
}

.minimize {
	visibility: hidden;
}